<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common libraries used by Data Scientists
- get to know which s

Some of the popular languages that Data Scientists use are:

    1.Python
    2.R
    3.SQL

Some of the commonly used libraries used by Data Scientists include:

1. MatplotLib
2. GGplot
3. Numpy
4. Panda

|Data Science Tools|
-------------
|RStudio|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [4]:
(3*4)+5

17

*This will convert 200 minutes to hours by diving by 60*

In [8]:
round(200/60,2)

3.33